asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-filter
djangorestframework
djangorestframework_simplejwt
djoser
idna
oauthlib
pillow
psycopg2-binary
pycparser
PyJWT
python3-openid
PyYAML
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
tzdata
urllib3
webcolors
